body {
    margin: 0;
    padding: 0;
    text-align: center;
    //background: url('imgs/developer-bg.jpg') no-repeat;
    background-size: 100%;
    color: rgba(233, 227, 233, 0.649);
    border: 0;
}

div.container {
    margin: 5% 30% 0 30%;
    width: 40%;
    height: 30%;
    border: solid 1px #222222;
    border-radius: 6px;
    box-shadow: #000;
    background-color: rgba(80, 74, 80, 0.449);
    padding-bottom: 20px;
    font-size: 1em;
}

#avaliable {
    color: rgba(207, 207, 207, 0.649);
}

#btn{
    margin: 20px 10px 10px 10px;
    font-size: 20px;
    color: rgb(25, 18, 37);
    border: 0px;
    border-radius: 7px;
}